

<script id="warningTemplate" type="text/x-kendo-template">
    <div class="warningTemplate">
        <span class="fa fa-bullhorn fa-3x"></span>
        <div>
            <h3></h3>
            <p style="white-space: pre-wrap;">#= message #</p>
        </div>
    </div>
</script>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="errorTemplate">
        <span class="fa fa-times-circle-o fa-3x"></span>
        <div>
            <h3></h3>
            <p style="white-space: pre-wrap;">#= message #</p>
        </div>
    </div>
</script>

<script id="successTemplate" type="text/x-kendo-template">
    <div class="successTemplate">
        <span class="fa fa-check-circle-o fa-3x"></span>
        <div>
            <h3></h3>
            <p style="white-space: pre-wrap;">#= message #</p>
        </div>
    </div>
</script>

<script id="infoTemplate" type="text/x-kendo-template">
    <div class="infoTemplate">
        <span class="fa fa-info fa-3x"></span>
        <div>
            <h3></h3>
            <p style="white-space: pre-wrap;">#= message #</p>
        </div>
    </div>
</script>


<script id="progressTStatus" type="text/x-kendo-template">
    <div class="progressTemplate" style="width:400px;">
        <span class="fa fa-info fa-3x" style="float: left; margin: 30px 15px 30px 30px;"></span>
        <h3>#= title #</h3>
        <p id="progressTText"></p>
        <br />
        <div id="progressTTaskBar" style="float: left; margin: 0px 15px 30px 30px;"></div>
    </div>
</script>
