@using System.Collections
@using System.Globalization
@using System.Resources
@using Omilios.Web.Portal.App_GlobalResources;
@using Microsoft.AspNetCore.Identity;

<ul class="nav navbar-nav navbar-right">
    <li class="admin"></li>

    <li class="home"></li>

    <li class="dropdown notification-dropdown" id="notification-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-bell"></i> <b> <span id="notificationCount" class="badge badge-notify">@*<span id="notificatioCount"></span>*@</span></b></a>
        <ul class="dropdown-menu notify-drop">

            <li class="notify-drop-title col-sm-12 padd-10">
                <br>
                <div class="text-uppercase"><small>Notification Center</small></div>
                <div><h2>Notifications</h2></div>
            </li>

            <li><ul id="notification-append"></ul></li>
            <li class="notify-drop-footer text-center col-sm-12">
                <a id="btn-viewAllNotify" onclick="RADIA.Notification.OnNotifyViewallClick()"><i class="glyphicon glyphicon-eye-open"></i> View All</a>
            </li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-placement="bottom" title="Omilios" <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="list-group-item topMenuItem logoff">
                <div>
                    <a href="#" class="del-icon del-icon-30x del-icon-Buffering_1_POS logoff"></a>
                    <span><a href="#" class="menuLink logoff">Log off</a></span>
                </div>
            </li>
        </ul>
    </li>

</ul>
<script type="text/javascript">
    var User = {};
        User.Alias = "Omilios";
        User.Email="Omilios";
</script>
