/*This file will contain only variables*/
/*---Colors---*/
/*---Shadows---*/
/*---Switch---*/
/*Cross application common classes*/
.background-white {
  background-color: #fff !important;
}
.background-gray {
  background-color: #e6eaea !important;
}
.background-transparent {
  background-color: transparent;
}
.background-subheader {
  background-color: #d3d3d3;
}
.row-nm:before {
  display: table;
  content: " ";
}
.row-nm:after {
  display: table;
  content: " ";
  clear: both;
}
.label-header {
  font-size: 12px;
  color: #A9A9A9 !important;
  font-weight: normal !important;
  text-transform: uppercase;
}
.text-centered {
  text-align: center;
}
.titlePanels {
  color: #000 !important;
  font-size: 1.3em;
  font-weight: 500;
}
h4 {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  text-transform: none;
}
h6 {
  color: #000 !important;
}
.noRadius {
  border-radius: 0px;
}
.btn-default:focus {
  outline: none!important;
}
.form-control {
  border-radius: 3px;
}
.subtitleStyle {
  color: #A9A9A9;
  font-size: 12px;
}
.buttonsRow {
  text-align: right;
}
.marginGeneral {
  margin: 20px 25px;
}
.margin-left-container {
  margin-left: 5px;
}
.text-subheader {
  color: #808080;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  height: auto;
  box-shadow: inset 0 7px 2px -5px rgba(161, 161, 161, 0.8);
}
.m-auto {
  margin: auto;
}
.breakAll {
  word-break: break-all;
  -ms-word-break: break-all;
}
.labelHeaderTable {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.iconsGrayLeft {
  float: left;
  margin-right: 20px;
  display: inline-block;
}
.buttonNavBar {
  float: left !important;
  margin-left: 20px !important;
  display: inline-block;
  margin-top: 20px !important;
}
.buttonNavBar button {
  padding: 0px;
}
/*---Buttons in the collapsable container, like capabilities---*/
.buttonCollapsableBar {
  float: left;
  margin-right: 30px;
  display: inline-block;
}
.buttonCollapsableBar button {
  background-color: transparent;
  outline-color: transparent;
}
.buttonCollapsableBar button:focus {
  outline-color: transparent;
}
.buttonCollapsableBar:hover button {
  background-color: #e6e6e6;
}
.footerLightGray {
  background-color: #f5f5f5 !important;
}
/*----Tables with Divs----*/
.paddingGroupingRow {
  padding: .6em .6em .643em 1.6em;
}
.paddingChildrenRow {
  padding: .929em 2.5em;
}
/*----Small Slider----*/
.sliderModifiedSmall .k-slider-horizontal {
  display: block;
}
.sliderModifiedSmall .k-button {
  top: 3px;
  width: 9px;
  height: 13px;
}
.sliderModifiedSmall .k-slider-items {
  background-color: transparent;
}
.sliderModifiedSmall .k-slider-items .k-label {
  top: 20px;
}
.sliderModifiedSmall .k-slider-track {
  height: 12px;
  background-color: #fff;
  top: 15%;
  border-radius: 20px;
  box-shadow: inset 0px 0px 3px 1px rgba(107, 107, 107, 0.54);
}
.sliderModifiedSmall .k-slider-horizontal .k-draghandle {
  height: 13px;
  width: 13px;
  border-radius: 16px;
  top: -2px;
  border: 2px solid #A9A9A9;
  box-shadow: 0px 0px 2px 1px rgba(107, 107, 107, 0.54);
  outline-color: transparent;
  background-color: #fff;
}
.sliderModifiedSmall .k-slider-selection a.k-state-focused,
.sliderModifiedSmall .k-slider-selection a.k-state-selected {
  outline-color: transparent;
  text-decoration-color: transparent;
  background-color: white;
}
.sliderModifiedSmall .k-slider-selection .k-draghandle:hover {
  background-color: lightgray !important;
}
.sliderModifiedSmall .k-slider-selection {
  top: 3px;
  background-color: #D3D3D3;
  text-align: center;
  height: 8px;
  left: 3px;
  border-radius: 16px;
  box-shadow: inset 0px 0px 2px 1px rgba(107, 107, 107, 0.54);
}
.sliderModifiedSmall .k-label {
  text-transform: uppercase;
  font-size: 12px;
}
.sliderModifiedSmall .k-slider-wrap .k-button:active {
  background-color: transparent !important;
}
.panelCollapseStyle {
  box-shadow: -5px 0px 5px -4px rgba(161, 161, 161, 0.54), 5px 0px 5px -4px rgba(161, 161, 161, 0.54), 0px 6px 5px -4px rgba(161, 161, 161, 0.54), inset 0 8px 7px -5px rgba(161, 161, 161, 0.54);
  background-color: #fff !important;
}
.panelCollapseStyle > ul {
  margin: 0px 5px;
  background-color: transparent;
}
.panelCollapseStyle > ul > li:first-child {
  background-color: transparent;
}
.panelHeadingStyle {
  padding: 10px 25px;
  background-color: #fff !important;
  box-shadow: 0px 1px 9px 1px rgba(161, 161, 161, 0.54);
}
/*common tables style*/
.btn-green-style,
.modal-footer .btn-success {
  font-weight: bold;
  color: #fff;
  background-color: #86BC25;
  margin: 20px 0px 20px 20px !important;
  border-radius: 3px;
  float: right;
}
.btn-green-style:hover,
.modal-footer .btn-success:hover,
.btn-green-style.k-state-hover,
.modal-footer .btn-success.k-state-hover {
  color: #fff;
  background-color: #86BC25;
  border-color: #adadad;
}
.btn-green-style:focus,
.modal-footer .btn-success:focus,
.btn-green-style.k-state-focused,
.modal-footer .btn-success.k-state-focused,
.btn-green-style.k-state-active,
.modal-footer .btn-success.k-state-active {
  color: #fff;
  background-color: #86BC25;
  border-color: #adadad;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  outline: none!important;
  border-color: #8c8c8c;
}
.btn-delete-circle {
  width: 26px;
  height: 25px;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: black;
  background-color: transparent;
}
.btn-delete-circle .glyphicon {
  padding: 2px 6px;
}
.btn-delete-circle .fa {
  padding: 0px 9px 0px 8px;
}
.btn-delete-circle .labelButton {
  color: black;
  font-size: 12px;
  font-weight: normal;
}
.btn-delete-circle .labelButton:hover {
  font-weight: bold;
}
.btn-delete-circle:hover {
  border-color: black;
}
.btn-delete-circle:hover .labelButton {
  font-weight: bold;
}
.divDeleteButton {
  text-align: right;
}
.divDeleteButton .labelButton {
  color: black;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
}
.divDeleteButton .labelButton:hover {
  text-shadow: 1px 0 0 currentColor;
  font-weight: normal;
}
.btn-bar-gray {
  background-color: transparent;
}
.btn-bar-gray:hover {
  background-color: #eaeaea;
}
/*----Table Blue----*/
.tableBlue {
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tableBlue .k-grid-header {
  background-color: transparent !important;
  display: block;
}
.tableBlue .k-grid-header .k-group-cell {
  /*display: none;*/
}
.tableBlue .k-grid-header .k-link {
  font-size: 12px;
  color: #A9A9A9;
  font-weight: normal;
  text-transform: uppercase;
}
.tableBlue .k-grid-header tr {
  display: block;
}
.tableBlue .k-grid-header tr th {
  display: inline-block;
}
.tableBlue .k-grid-header tr th:first-child {
  width: 1%;
}
.tableBlue .k-grid-header tr th:nth-child(2) {
  width: 45%;
}
.tableBlue .k-grid-header tr th:nth-child(3) {
  width: 9%;
}
.tableBlue .k-grid-header tr th:nth-child(4) {
  width: 25%;
}
.tableBlue tbody {
  display: block;
}
.tableBlue tbody tr {
  background-color: #fff;
  box-shadow: 2px 2px 4px 0px rgba(161, 161, 161, 0.54), -2px 2px 4px 0px rgba(161, 161, 161, 0.54);
  display: block;
  /*clear:right;*/
}
.tableBlue tbody tr .k-group-cell {
  /*display: none;*/
}
.tableBlue tbody tr td {
  display: inline-block;
  background-color: transparent;
}
.tableBlue tbody tr .k-edit-cell {
  padding: .929em 1.286em;
  overflow: hidden !important;
}
.tableBlue tbody .k-grouping-row {
  background-color: rgba(0, 163, 224, 0.6);
  box-shadow: 0px 1px 9px 1px rgba(161, 161, 161, 0.54);
  margin-top: 15px;
}
.tableBlue tbody .k-grouping-row td {
  display: block;
}
.tableBlue tbody .k-grouping-row td:first-child {
  width: 99%;
}
.tableBlue tbody .k-grouping-row:first-child {
  margin-top: 0px !important;
}
.tableBlue tbody .k-alt {
  background-color: #f0f8ff;
}
.tableBlue tbody .k-grouping-row + tr {
  box-shadow: inset 0 6px 6px -4px rgba(161, 161, 161, 0.94), 2px 2px 4px 0px rgba(161, 161, 161, 0.54), -2px 2px 4px 0px rgba(161, 161, 161, 0.54) !important;
}
.tableBlue tbody a {
  background-color: transparent;
}
.tableBlueWithoutFirstColumn {
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tableBlueWithoutFirstColumn .k-grid-header {
  background-color: transparent !important;
  display: block;
}
.tableBlueWithoutFirstColumn .k-grid-header .k-group-cell {
  /*display: none;*/
}
.tableBlueWithoutFirstColumn .k-grid-header .k-link {
  font-size: 12px;
  color: #A9A9A9;
  font-weight: normal;
  text-transform: uppercase;
}
.tableBlueWithoutFirstColumn .k-grid-header tr {
  display: block;
}
.tableBlueWithoutFirstColumn .k-grid-header tr th {
  display: inline-block;
}
.tableBlueWithoutFirstColumn .k-grid-header tr th:first-child {
  width: 45%;
}
.tableBlueWithoutFirstColumn .k-grid-header tr th:nth-child(2) {
  width: 9%;
}
.tableBlueWithoutFirstColumn .k-grid-header tr th:nth-child(3) {
  width: 25%;
}
.tableBlueWithoutFirstColumn tbody {
  display: block;
}
.tableBlueWithoutFirstColumn tbody tr {
  background-color: #fff;
  box-shadow: 2px 2px 4px 0px rgba(161, 161, 161, 0.54), -2px 2px 4px 0px rgba(161, 161, 161, 0.54);
  display: block;
  /*clear:right;*/
}
.tableBlueWithoutFirstColumn tbody tr .k-group-cell {
  /*display: none;*/
}
.tableBlueWithoutFirstColumn tbody tr td {
  display: inline-block;
  background-color: transparent;
}
.tableBlueWithoutFirstColumn tbody tr .k-edit-cell {
  padding: .929em 1.286em;
  overflow: hidden !important;
}
.tableBlueWithoutFirstColumn tbody .k-grouping-row {
  background-color: rgba(0, 163, 224, 0.6);
  box-shadow: 0px 1px 9px 1px rgba(161, 161, 161, 0.54);
  margin-top: 15px;
}
.tableBlueWithoutFirstColumn tbody .k-grouping-row td {
  display: block;
}
.tableBlueWithoutFirstColumn tbody .k-grouping-row td:first-child {
  width: 99%;
}
.tableBlueWithoutFirstColumn tbody .k-grouping-row:first-child {
  margin-top: 0px !important;
}
.tableBlueWithoutFirstColumn tbody .k-alt {
  background-color: #f0f8ff;
}
.tableBlueWithoutFirstColumn tbody .k-grouping-row + tr {
  box-shadow: inset 0 6px 6px -4px rgba(161, 161, 161, 0.94), 2px 2px 4px 0px rgba(161, 161, 161, 0.54), -2px 2px 4px 0px rgba(161, 161, 161, 0.54) !important;
}
.tableBlueWithoutFirstColumn tbody a {
  background-color: transparent;
}
.tableBlueCustom {
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tableBlueCustom .k-grid-header {
  background-color: transparent !important;
  display: block;
}
.tableBlueCustom .k-grid-header .k-group-cell {
  /*display: none;*/
}
.tableBlueCustom .k-grid-header .k-link {
  font-size: 12px;
  color: #A9A9A9;
  font-weight: normal;
  text-transform: uppercase;
}
.tableBlueCustom .k-grid-header tr {
  display: block;
}
.tableBlueCustom .k-grid-header tr th {
  display: inline-block;
}
.tableBlueCustom .k-grid-header tr th:first-child {
  width: 1%;
}
.tableBlueCustom .k-grid-header tr th:nth-child(2) {
  width: 45%;
}
.tableBlueCustom .k-grid-header tr th:nth-child(3) {
  width: 8%;
}
.tableBlueCustom .k-grid-header tr th:nth-child(4) {
  width: 8%;
}
.tableBlueCustom .k-grid-header tr th:nth-child(5) {
  width: 15%;
}
.tableBlueCustom tbody {
  display: block;
}
.tableBlueCustom tbody tr {
  background-color: #fff;
  box-shadow: 2px 2px 4px 0px rgba(161, 161, 161, 0.54), -2px 2px 4px 0px rgba(161, 161, 161, 0.54);
  display: block;
  /*clear:right;*/
}
.tableBlueCustom tbody tr .k-group-cell {
  /*display: none;*/
}
.tableBlueCustom tbody tr td {
  display: inline-block;
  background-color: transparent;
}
.tableBlueCustom tbody tr .k-edit-cell {
  padding: .929em 1.286em;
  overflow: hidden !important;
}
.tableBlueCustom tbody .k-grouping-row {
  background-color: rgba(0, 163, 224, 0.6);
  box-shadow: 0px 1px 9px 1px rgba(161, 161, 161, 0.54);
  margin-top: 15px;
}
.tableBlueCustom tbody .k-grouping-row td {
  display: block;
}
.tableBlueCustom tbody .k-grouping-row td:first-child {
  width: 99%;
}
.tableBlueCustom tbody .k-grouping-row:first-child {
  margin-top: 0px !important;
}
.tableBlueCustom tbody .k-alt {
  background-color: #f0f8ff;
}
.tableBlueCustom tbody .k-grouping-row + tr {
  box-shadow: inset 0 6px 6px -4px rgba(161, 161, 161, 0.94), 2px 2px 4px 0px rgba(161, 161, 161, 0.54), -2px 2px 4px 0px rgba(161, 161, 161, 0.54) !important;
}
.tableBlueCustom tbody a {
  background-color: transparent;
}
.tableBlueCustomWithoutFirstColumn {
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tableBlueCustomWithoutFirstColumn .k-grid-header {
  background-color: transparent !important;
  display: block;
}
.tableBlueCustomWithoutFirstColumn .k-grid-header .k-group-cell {
  /*display: none;*/
}
.tableBlueCustomWithoutFirstColumn .k-grid-header .k-link {
  font-size: 12px;
  color: #A9A9A9;
  font-weight: normal;
  text-transform: uppercase;
}
.tableBlueCustomWithoutFirstColumn .k-grid-header tr {
  display: block;
}
.tableBlueCustomWithoutFirstColumn .k-grid-header tr th {
  display: inline-block;
}
.tableBlueCustomWithoutFirstColumn .k-grid-header tr th:first-child {
  width: 45%;
}
.tableBlueCustomWithoutFirstColumn .k-grid-header tr th:nth-child(2) {
  width: 8%;
}
.tableBlueCustomWithoutFirstColumn .k-grid-header tr th:nth-child(3) {
  width: 7%;
}
.tableBlueCustomWithoutFirstColumn .k-grid-header tr th:nth-child(4) {
  width: 22%;
}
.tableBlueCustomWithoutFirstColumn tbody {
  display: block;
}
.tableBlueCustomWithoutFirstColumn tbody tr {
  background-color: #fff;
  box-shadow: 2px 2px 4px 0px rgba(161, 161, 161, 0.54), -2px 2px 4px 0px rgba(161, 161, 161, 0.54);
  display: block;
  /*clear:right;*/
}
.tableBlueCustomWithoutFirstColumn tbody tr .k-group-cell {
  /*display: none;*/
}
.tableBlueCustomWithoutFirstColumn tbody tr td {
  display: inline-block;
  background-color: transparent;
}
.tableBlueCustomWithoutFirstColumn tbody tr .k-edit-cell {
  padding: .929em 1.286em;
  overflow: hidden !important;
}
.tableBlueCustomWithoutFirstColumn tbody .k-grouping-row {
  background-color: rgba(0, 163, 224, 0.6);
  box-shadow: 0px 1px 9px 1px rgba(161, 161, 161, 0.54);
  margin-top: 15px;
}
.tableBlueCustomWithoutFirstColumn tbody .k-grouping-row td {
  display: block;
}
.tableBlueCustomWithoutFirstColumn tbody .k-grouping-row td:first-child {
  width: 99%;
}
.tableBlueCustomWithoutFirstColumn tbody .k-grouping-row:first-child {
  margin-top: 0px !important;
}
.tableBlueCustomWithoutFirstColumn tbody .k-alt {
  background-color: #f0f8ff;
}
.tableBlueCustomWithoutFirstColumn tbody .k-grouping-row + tr {
  box-shadow: inset 0 6px 6px -4px rgba(161, 161, 161, 0.94), 2px 2px 4px 0px rgba(161, 161, 161, 0.54), -2px 2px 4px 0px rgba(161, 161, 161, 0.54) !important;
}
.tableBlueCustomWithoutFirstColumn tbody a {
  background-color: transparent;
}
.tableBlueOpenendedQuestions {
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tableBlueOpenendedQuestions .k-grid-header {
  background-color: transparent !important;
  display: block;
}
.tableBlueOpenendedQuestions .k-grid-header .k-link {
  font-size: 12px;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
}
.tableBlueOpenendedQuestions .k-grid-header tr {
  display: block;
}
.tableBlueOpenendedQuestions .k-grid-header tr th {
  display: inline-block;
}
.tableBlueOpenendedQuestions .k-grid-header tr th:first-child {
  width: 45%;
}
.tableBlueOpenendedQuestions .k-grid-header tr th:nth-child(2) {
  width: 15%;
}
.tableBlueOpenendedQuestions .k-grid-header tr th:nth-child(3) {
  width: 25%;
}
.tableBlueOpenendedQuestions tbody {
  display: block;
}
.tableBlueOpenendedQuestions tbody tr {
  background-color: #fff;
  box-shadow: 2px 2px 4px 0px rgba(161, 161, 161, 0.54), -2px 2px 4px 0px rgba(161, 161, 161, 0.54);
  display: block;
}
.tableBlueOpenendedQuestions tbody tr td {
  display: inline-block;
  background-color: transparent;
}
.tableBlueOpenendedQuestions tbody tr .k-edit-cell {
  padding: .929em 1.286em;
  overflow: hidden !important;
}
.tableBlueOpenendedQuestions tbody .k-grouping-row {
  background-color: rgba(0, 163, 224, 0.6);
  box-shadow: 0px 1px 9px 1px rgba(161, 161, 161, 0.54);
  margin-top: 15px;
}
.tableBlueOpenendedQuestions tbody .k-grouping-row td {
  display: block;
}
.tableBlueOpenendedQuestions tbody .k-grouping-row td:first-child {
  width: 99%;
}
.tableBlueOpenendedQuestions tbody .k-grouping-row:first-child {
  margin-top: 0px !important;
}
.tableBlueOpenendedQuestions tbody .k-alt {
  background-color: #f0f8ff;
}
.tableBlueOpenendedQuestions tbody .k-grouping-row + tr {
  box-shadow: inset 0 6px 6px -4px rgba(161, 161, 161, 0.94), 2px 2px 4px 0px rgba(161, 161, 161, 0.54), -2px 2px 4px 0px rgba(161, 161, 161, 0.54) !important;
}
.tableBlueOpenendedQuestions tbody a {
  background-color: transparent;
}
.genericBlueTable {
  border: none;
  background-color: transparent;
}
.genericBlueTable table {
  box-shadow: 0px 1px 9px 1px rgba(161, 161, 161, 0.54);
  margin-bottom: 10px;
  background-color: #fff;
}
.genericBlueTable table tbody .k-alt {
  background-color: #F0F8FF;
}
.genericBlueTable table tbody tr:first-child td {
  box-shadow: inset 0px 7px 2px -5px rgba(161, 161, 161, 0.54);
}
.genericBlueTable table tbody tr td {
  border: none;
}
.genericBlueTable .k-pager-wrap .k-pager-sizes .k-dropdown {
  background-color: transparent;
}
.genericBlueTable .k-pager-wrap .k-pager-sizes .k-dropdown .k-dropdown-wrap .k-input {
  color: #808080;
}
/*----NavBarTop Dropdowns----*/
.topMenuItem {
  height: 30px;
  padding: 0px 15px 0px 12px;
  border-width: 0px 0px 0px 3px;
  border-style: solid;
  border-color: #000;
  border-radius: 0px !important;
  clear: left;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  white-space: nowrap;
}
.topMenuItem a {
  /*float: left;*/
  width: auto !important;
  margin-top: 0px !important;
  padding: 0px;
  color: #fff;
  text-transform: none;
  font-weight: normal !important;
}
.topMenuItem .icon,
.topMenuItem del-icon {
  display: inline-block;
  vertical-align: middle;
}
.topMenuItem .menuLink {
  position: relative;
  margin-left: 15px;
  overflow-wrap: break-word;
  display: inline-block;
  /*vertical-align: middle;*/
  white-space: normal;
  word-wrap: break-word;
  width: 78% !important;
  text-align: left!important;
}
.topMenuItem:hover a {
  color: #00A3E0 !important;
}
.topMenuItem#sidebar-item a {
  color: #00A3E0;
}
.topMenuItem#sidebar-item .menuLink {
  font-weight: bold !important;
}
/*----ToolTip LeftMenu----*/
.tooltipItem + .tooltip.right {
  position: fixed;
  z-index: 9000;
}
.tooltipItem + .tooltip.right > .tooltip-inner {
  background-color: #000 !important;
  color: #fff;
  font-size: 12px;
}
.tooltipItem + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid black;
}
.tooltip.bottom {
  position: fixed;
  z-index: 9000;
}
.tooltip.bottom > .tooltip-inner {
  background-color: #545454 !important;
  color: #fff;
  font-size: 12px;
}
.tooltip.bottom > .tooltip-arrow {
  border-bottom: 5px solid #545454;
}
.toggled .tooltipItem + .tooltip > .tooltip-inner {
  background-color: transparent;
  color: transparent;
  background-color: transparent !important;
}
.toggled .tooltipItem + .tooltip.right > .tooltip-arrow {
  border-right: 0px;
}
/*----Dropdown Expand-collapse bar----*/
.menuCollapse .k-dropdown {
  width: auto;
}
.menuCollapse .k-dropdown .k-dropdown-wrap {
  padding-right: 20px;
  top: 4px;
}
.menuCollapse .k-dropdown .k-dropdown-wrap .k-select {
  text-align: left;
  width: 20px;
}
.menuCollapse .k-dropdown .k-dropdown-wrap .k-select:after {
  display: inline-block;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: inherit;
  line-height: 1;
  font-family: FontAwesome;
  font-size: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f107";
  position: relative;
  top: 3px;
}
.menuCollapse .k-dropdown .k-state-active .k-select:after {
  color: #00A3E0;
}
.menuCollapse:hover .k-select:after,
.menuCollapse:focus .k-select:after {
  color: #00A3E0;
}
/*----Panels Home----*/
.panelHome {
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 9px 1px rgba(161, 161, 161, 0.54);
  -webkit-box-shadow: 0px 1px 9px 1px rgba(161, 161, 161, 0.54);
}
.panelHome .panel-heading {
  border-top: 5px solid #00A3E0;
  border-radius: 0px;
}
.panelHome .panel-heading small {
  color: #A9A9A9;
}
.panelHome .panel-heading .panel-title {
  height: 58px;
}
.panelHome .panel-heading .panel-title .name {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
  height: 58px;
}
.panelHome #clientCardLink {
  text-align: center;
}
.panelHome #clientCardLink a {
  color: #00A3E0;
  font-weight: normal;
  text-decoration: none;
}
.panelHome #clientCardLink a:hover {
  font-weight: bold;
}
/*----ScrollBars----*/
.scrollbarIE {
  scrollbar-base-color: #808080;
  scrollbar-highlight-color: #2e2e2e;
  scrollbar-track-color: #2e2e2e;
  scrollbar-arrow-color: #808080;
  scrollbar-shadow-color: #2e2e2e;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.scrollbarIE::-webkit-scrollbar {
  width: 9px;
  margin-right: 1px;
}
.scrollbarIE::-webkit-scrollbar-button {
  background-color: blue;
  background-color: transparent;
  background-image: url('../Images/ui-icons_ffffff_256x240.png');
  background-repeat: no-repeat;
  overflow: hidden;
}
.scrollbarIE::-webkit-scrollbar-button:increment {
  background-position-x: -68px;
  background-position-y: 0px;
}
.scrollbarIE::-webkit-scrollbar-button:decrement {
  background-position-x: -3px;
  background-position-y: 0px;
}
.scrollbarIE::-webkit-scrollbar-track-piece {
  background-color: rgba(161, 161, 161, 0.3);
  border-radius: 6px;
}
.scrollbarIE::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #808080;
  border-radius: 6px;
  border: 1px solid rgba(161, 161, 161, 0.3);
}
/*----Blue "show button"----*/
.showButton {
  margin-right: 15px;
  color: #00A3E0;
  background-color: transparent;
  border: 1px solid #00A3E0;
  outline: none;
  cursor: pointer;
}
.showButton:hover {
  color: #fff;
  background-color: #00A3E0;
}
/*----Floating right close icon----*/
.radia-padding-close-icon {
  padding: 15px 15px;
  float: right;
}
/*universe label*/
.radia-universe-filter-label {
  text-transform: uppercase;
  text-align: left;
  color: #000;
  margin-bottom: 5px;
}
/*-------Change switch button------*/
.bootstrap-switch {
  border-radius: 13px;
  border: none;
  height: 26px;
}
.bootstrap-switch-readonly .bootstrap-switch-container {
  background-color: #D3D3D3;
}
.bootstrap-switch-container {
  width: 110px !important;
  height: 26px;
  padding-left: 0px;
  top: 2px;
  margin-left: 2px;
  position: relative;
  display: block;
  box-sizing: border-box;
}
.bootstrap-switch-label {
  width: 34px;
  background-color: transparent !important;
  display: inline-block !important;
}
.bootstrap-switch.bootstrap-switch-on {
  background-color: #43B02A;
}
.bootstrap-switch.bootstrap-switch-off {
  background-color: #808080;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-container {
  margin-left: -40px !important;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-handle-off {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #808080;
  margin-right: 8px;
  float: right;
}
.bootstrap-switch-default {
  position: relative;
  top: 2px;
  left: 3px;
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  width: 34px;
  background-color: white !important;
  opacity: 1 !important;
  border-radius: 10px !important;
  border: 1px solid #43B02A;
  box-shadow: 0px 0px 3px 1px rgba(107, 107, 107, 0.54);
  display: inline-block !important;
  height: 22px;
}
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off {
  border: 1px solid #808080;
}
/*EXPAND COLLAPSE STYLE*/
#btnExpandAll,
#btnCollapseAll {
  color: #a9a9a9;
  text-decoration: none;
  font-size: 12px;
}
#btnExpandAll:hover,
#btnCollapseAll:hover {
  color: #00a3e0 !important;
  text-decoration: none;
}
#btnExpandAll:hover .icon,
#btnCollapseAll:hover .icon {
  color: #00a3e0 !important;
  text-decoration: none;
}
.gray {
  color: #A9A9A9;
}
.auto {
  width: auto;
}
.right {
  float: right;
}
.no-padding {
  padding: 0px;
}
/*analize menu bar style*/
.analizeTopMenuButton {
  width: auto;
}
.analizeTopMenuButton button {
  background-color: transparent;
  color: #fff;
}
.analizeTopMenuButton button span.fa-angle-down {
  margin-top: -4px;
  font-size: 24px;
}
.analizeTopMenuButton button span.fa-angle-up {
  margin-top: -4px;
  font-size: 24px;
}
.analizeTopMenuButton button:hover {
  color: #00A3E0;
  border-color: #00A3E0;
  background-color: transparent;
}
.analizeTopMenuButton button:focus,
.analizeTopMenuButton button:active {
  color: #00A3E0;
  border-color: #00A3E0;
  background-color: transparent;
}
/*Dropdown*/
#dropdownAnalyzeNewMenuBar .k-dropdown {
  border-radius: 3px 0px 0px 3px;
  height: 32px;
  background-color: transparent;
  /*color: #fff;*/
}
#dropdownAnalyzeNewMenuBar .k-dropdown .k-state-default {
  background-color: transparent;
  border-radius: 3px 0px 0px 3px;
  height: 32px;
}
#dropdownAnalyzeNewMenuBar .k-dropdown .k-state-default .k-input {
  color: darkgray;
  /*margin-top: -2px;*/
}
.dropdownMenuBarStyle {
  color: darkgray;
  font-size: 24px;
  margin-top: 2px;
}
/*control center tabs*/
.ui-tabs-nav {
  background-color: #fff;
}
.ui-tabs-nav .ui-state-default {
  border: none;
}
.ui-tabs-nav .ui-state-default .ui-tabs-anchor {
  color: darkgray;
  background-color: #fff;
}
.ui-tabs-nav .ui-state-hover .ui-tabs-anchor {
  color: #00A3E0 ;
  background-color: #ffffff;
  font-weight: bold;
  border-bottom: 5px solid #00A3E0;
}
.ui-tabs-nav .ui-state-active .ui-tabs-anchor {
  box-shadow: 0px 1px 9px 1px rgba(161, 161, 161, 0.54);
  background-color: rgba(0, 163, 224, 0.6);
  color: #fff;
  border-bottom: 4px solid #00A3E0;
}
/*coment td style*/
.box-comment {
  height: 50px !important;
  border-radius: 3px;
  overflow-y: auto !important;
  border: 1px solid #ccc !important;
  margin: 10px 20px;
  padding: 0px !important;
}
textarea::-moz-placeholder {
  color: #8d8a8a !important;
  font-style: italic;
}
textarea::-webkit-input-placeholder {
  color: #8d8a8a !important;
  font-style: italic;
}
textarea:-ms-input-placeholder {
  color: #8d8a8a !important;
  font-style: italic;
}
/*Pop up text box*/
.pop-up-text-box {
  height: 50px !important;
  border-radius: 3px;
  overflow-y: auto !important;
}
/*no border*/
.no-border {
  border: none;
}
/*Loading style*/
.k-loading-image,
.k-loading-image:after {
  background-image: none !important;
  border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
}
.k-loading-image {
  margin: 10px auto;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(98, 181, 229, 0.3);
  border-right: 1.1em solid rgba(98, 181, 229, 0.3);
  border-bottom: 1.1em solid rgba(98, 181, 229, 0.3);
  border-left: 1.1em solid #00A3E0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#lblMessage {
  color: #fff;
}
/*Footer style*/
footer .dlt-footerNav {
  padding-top: .5em !important;
  margin-top: 0px !important;
}
footer .dlt-footerCopy {
  margin-top: 0px !important;
  margin-bottom: 1em !important;
}
footer.sticky-footer {
  /*bottom: -55px;*/
  width: 100%;
}
/*Modal view / Pop up unlinking crown jewel*/
.modal-header {
  padding: 10px 10px 0px 5px;
  border-bottom: 1px solid #e5e5e5;
  margin: 1px;
}
.modal-body {
  padding: 25px 25px 0px 25px;
  background-color: #e6eaea;
}
.modal-content {
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0px;
}
.modal-footer {
  padding: 0px 20px 0px;
  border-top-width: 0px;
  background-color: #e6eaea;
}
.modal-title {
  font-size: 131%;
}