

<nav class="navbar-primary  navbar-fixed-left collapsed" id="SideNavigation-Menu"></nav>
<div id="wrapper" class="main-content">
    <div id="page-content-wrapper">

        <div class="page-top-section controlCenterHeader">
        </div>
        <div class="">
            <div class="nremt-content-navbar-container csf-content-min-height configurationAndNavbarContainer">
                <ul class="nav nav-tabs" id="Omilostabs">
                    <li class=""><a data-toggle="tab" href="#Campaigns" data-tag="Campaigns">Campaigns</a></li>
                    <li><a data-toggle="tab" href="#contacts" data-tag="contacts">Contacts</a></li>
                    @*<li><a data-toggle="tab" href="#workflow" data-tag="workflow">Workflow</a></li>*@

                </ul>

                <div class="tab-content">
                    <div id="Campaigns" class="tab-pane fade in active">
                        <br />
                        <!--breadcrumb  -->
                        <div class="col-sm-12">
                            <ol class="breadcrumb" id="bc_Campaigns">
                                <li data-routes="#Campaigns"><a href="#Campaigns">Campaigns</a></li>
                            </ol>
                        </div>
                        <!-- /. breadcrumb  -->
                        <div id="Campaigns-paging"></div>

                        <div id="content-placeholder-breadcum"></div>
                        <div id="Campaigns-content"></div>
                        <div id="modal-container"></div>
                    </div>
                    <div id="contacts" class="tab-pane fade">
                        <br />
                        <!--breadcrumb  -->
                        <div class="col-sm-12">
                            <ol class="breadcrumb" id="bc_contacts">
                                <li data-routes="#contacts"><a href="#contacts">Contacts</a></li>
                            </ol>
                        </div>
                        <!-- /. breadcrumb  -->
                        <div id="contacts-paging"></div>

                        <div id="contacts-content"></div>
                        <div id="contactmodal-container"></div>

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
