<?xml version="1.0"?>
<!-- This web.config file prevents deep-linking of help content when not logged in -->
<configuration>
  <system.web>
    <authorization>
      <allow roles="CRPBUSINESSMODELADMIN,DATAENTRYBUSINESSMODEL,DATAENTRYCAPABILITYMODEL,CRPANALYST,CRPDASHBOARD,CRPDELOITTEADMIN,CRPADMINAUTHORIZATIONS,DATAENTRYQUESTIONS,radiaCONTENTMANAGER,Role_Disclaimer"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="HTML" path="*.html" verb="GET, HEAD, POST, DEBUG" type="System.Web.StaticFileHandler" />
      <add name="CSS" path="*.css" verb="GET, HEAD, POST, DEBUG" type="System.Web.StaticFileHandler" />
      <add name="JS" path="*.js" verb="GET, HEAD, POST, DEBUG" type="System.Web.StaticFileHandler" />
      <add name="PNG" path="*.png" verb="GET, HEAD, POST, DEBUG" type="System.Web.StaticFileHandler" />
      <add name="DOCX" path="*.docx" verb="GET, HEAD, POST, DEBUG" type="System.Web.StaticFileHandler" />
      <add name="SVG" path="*.svg" verb="GET, HEAD, POST, DEBUG" type="System.Web.StaticFileHandler" />
    </handlers>
  </system.webServer>
</configuration> 
